.portfolio {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.portfolio__section {
	margin: 0 auto;
	padding: 0 70px 125px;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1280px;
	box-sizing: border-box;
	justify-content: center;
}

.portfolio-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
}

.portfolio-list__heading {
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	color: #a0a0a0;
	mix-blend-mode: normal;
	margin: 0 0 50px;
}

.portfolio-list__item {
	margin-bottom: 19px;
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.portfolio-list__item:last-of-type {
	border-bottom: none;
}

.portfolio-list__link {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	text-decoration: none;
	color: black;
}

.portfolio-list__item_text {
	margin: 0 0 19px;
	font-weight: normal;
	font-size: 30px;
	line-height: 50px;
	letter-spacing: -0.04em;
	text-decoration: none;
}

.portfolio-list__item_text:hover {
	cursor: pointer;
	opacity: 0.7;
}

.portfolio-list__item_pic {
	width: 20px;
	height: 20px;
	margin-left: 40px;
}

.portfolio-list__item_pic:hover {
	cursor: pointer;
	opacity: 0.7;
}

@media screen and (max-width: 768px) {
	.portfolio-list__item_text {
		font-size: 28px;
	}

	.portfolio-list__item:last-of-type {
		margin-bottom: 0;
		border-bottom: none;
	}

	.portfolio__section {
		padding: 90px 50px;
	}
}

@media screen and (max-width: 637px) {
	.portfolio__section {
		padding: 70px 18px;
	}
}

@media screen and (max-width: 420px) {
	.portfolio-list__heading {
		font-size: 14px;
		line-height: 20px;
		margin: 0 0 40px;
	}

	.portfolio-list__item_text {
		font-size: 18px;
		line-height: 28px;
	}

	.portfolio-list__item_pic {
		width: 10px;
		height: 10px;
	}
}
