.page__container {
	max-width: 1280px;
	min-width: 320px;
	margin: 0 auto;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/* box-sizing: border-box; */
	position: relative;
}

.page__content {
	width: calc(100% - 2 * 70px);
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.page__content {
		width: calc(100% - 2 * 50px);
	}
}

@media screen and (max-width: 320px) {
	.page__content {
		width: calc(100% - 2 * 14px);
	}
}
