.search {
	width: 100%;
	flex: 1 0 auto;
}

.search__container {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	padding: 80px 70px 96px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
}

.search__form {
	display: flex;
	width: calc(100% - 215px);
	margin-right: auto;
	padding: 0;
}

.search__input-block {
	width: 100%;
	padding: 7px;
	border: 1.5px solid rgba(67%, 67%, 67%, 0.2);
	box-sizing: border-box;
	border-radius: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 932px;
	align-self: flex-start;
}

.search__input {
	width: 100%;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	margin: 0 20px;
	padding: 0;
	border: none;
	border-radius: 20px;
	outline-color: #aaaaaa;
}

.search__input_error {
	font-size: 10px;
	line-height: 1.2;
	color: #ee3465;
	cursor: text;
	position: absolute;
	left: 30%;
}

.search__button {
	border: none;
	width: 80px;
	height: 34px;
	border-radius: 30px;
	margin-left: auto;
	opacity: 1;
	transition: 0.3s ease;
	background-color: #ff6838;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search__button:hover {
	opacity: 0.8;
	cursor: pointer;
}

.search__short {
	width: 167px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.search__short_title {
	align-self: center;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
}

.search__short_button {
	width: 36px;
	height: 16px;
	align-self: center;
	border: none;
	border-radius: 20px;
	display: flex;
	padding: 2px;
	background-color: #ff6838;
}

._disabled {
	pointer-events: none;
	cursor: default;
	background-color: grey;
}

.search__short_button:hover {
	cursor: pointer;
}

._isChoosenBackground {
	background-color: #2be080;
}

.search__short_disk {
	width: 12px;
	height: 12px;
	margin-left: auto;
	background-color: #fff;
	border: none;
	border-radius: 50px;
	align-self: center;
}

._isChoosenButton {
	margin-right: auto;
	margin-left: 0;
}

@media screen and (max-width: 900px) {
	.search__container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 60px 30px 60px;
	}

	.search__input-block {
		margin-bottom: 38px;
	}

	.search__form {
		width: calc(100% - 2 * 30px);
	}
}

@media screen and (max-width: 450px) {
	.search__container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 60px 10px 50px;
	}

	.search__input-block {
		margin-bottom: 45px;
	}

	.search__form {
		width: calc(100% - 2 * 10px);
		min-width: 300px;
		margin: 0 auto;
	}
}
