.about-project {
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.about-project__section {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	padding: 110px 70px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
}

.project-title {
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	line-height: 26.36px;
	letter-spacing: -4%;
	border-bottom: 1px solid #000;
	padding-bottom: 23px;
	margin-bottom: 75px;
}

.project-list {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding: 0;
	margin: 70px 0 0;
}

.project-list__item {
	margin-right: 50px;
}

.project-list__item:last-of-type {
	margin-right: 0;
}

.project-list__heading {
	font-size: 20px;
	line-height: 24.2px;
	letter-spacing: -4%;
	color: #000000;
	font-weight: 400;
	margin: 0;
}

.project-list__text {
	margin: 26px 0 110px;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	line-height: 20px;
}

.project-blocks {
	display: grid;
	list-style: none;
	grid-template-columns: 1fr 4fr;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.project-block {
	background: #2be080;
	height: 36px;
	padding: 9px 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.94px;
	text-align: center;
	margin: 0;
	box-sizing: border-box;
}

.project-block_color_grey {
	background: #f2f2f2;
}

.project-block_type_text {
	background-color: #ffff;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #a0a0a0;
	margin: 14px 0 0;
	padding: 0;
	box-sizing: border-box;
	height: 17px;
}

@media screen and (max-width: 768px) {
	.project-list__text {
		margin: 22px 0 93px;
		line-height: 18px;
	}

	.project-list__item {
		margin-right: 30px;
	}

	.project-block_type_text {
		margin: 14px 0 0;
	}

	.about-project__section {
		padding: 90px 50px;
	}
}

@media screen and (max-width: 637px) {
	.project-blocks {
		grid-template-columns: 2fr 4fr;
	}

	.project-list {
		flex-direction: column;
		margin: 60px 0 0;
	}

	.project-list__item {
		margin: 0 0 60px 0;
	}

	.about-project__section {
		padding: 70px 18px;
	}

	.project-list__text {
		margin: 16px 0 0 0;
	}

	.project-list__item:last-of-type {
		margin: 0 0 56px 0;
	}
}

@media screen and (max-width: 320px) {
	.project-list__heading {
		font-size: 18px;
		line-height: 21.7px;
	}

	.project-block {
		font-size: 11px;
		line-height: 13.31px;
	}

	.project-block_type_text {
		margin: 10px 0 0;
	}

	.project-title {
		font-weight: 400;
		font-style: normal;
		font-size: 18px;
		line-height: 21.78px;
	}

	.project-list__text {
		font-size: 11px;
		line-height: 16px;
	}
}
